.blockWrapper {
  display: flex;
  gap: 1rem;
}
.block {
  width: 33%;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  padding: 1rem;
  height: max-content;
}
.formItem {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}
.blockTitle {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
.formItem label {
  width: 10rem;
}
.formItem input,
.formItem select {
  margin-bottom: 0;
}
.skillsFormWrapperButton {
  margin-bottom: 2rem;
}
.skillsFormWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.skillsFormWrapper select {
  margin-bottom: 0.5rem;
}

.skillErrorMsg {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  color: var(--red-500);
}
.skill {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.skill span {
  text-transform: capitalize;
}
.trashCan {
  margin-right: 0.5rem;
}
.trashCan:hover {
  color: #f75a68;
  cursor: pointer;
}
.createCharButton {
  margin-top: 1rem;
  text-transform: uppercase;
  padding: 1rem 4rem;
}
