.errorMsg {
  margin: 0 auto;
  max-width: max-content;
  font-size: 0.7rem;
  color: var(--red-500);
  margin-bottom: 1rem;
  transition: 0.3s;
  text-align: center;
}
.successMsg {
  display: none;
}
input {
  font-size: 0.875rem;
  width: 100%;
  background: var(--gray-900);
  border: 0;
  resize: none;
  padding: 0.5rem;
  border-radius: 8px;
  color: var(--gray-100);
  margin-bottom: 1rem;
}
input::placeholder {
  color: var(--gray-100);
  opacity: 0.4;
}
button {
  font-size: 0.875rem;
  background: transparent;
  color: var(--green-500);
  border: 1px solid var(--green-500);
  border-radius: 8px;
  padding: 0.5rem 0;
  width: 100%;
  font-weight: bold;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background: var(--green-500);
  color: var(--white);
}
