.sidebarWrapper {
  width: 19rem;
}
.aside {
  background: var(--gray-700);
  border-radius: 8px;
  overflow: hidden;
  padding: 2rem;
  margin-bottom: 1rem;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 1rem;
  opacity: 0.9;
}
li:hover {
  opacity: 1;
  cursor: pointer;
}
